* { margin: 0; padding: 0;  overflow-x: hidden; }

.hero {
    background-image: url(./images/cmc-bg.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}

.info-tiles-container {
    background-color: #1B2935;
    color: rgb(226, 226, 226);
}

.tile-img {
    max-height: 350px;
}

.desktop-text {
    display: block;
}
.mobile-text {
    display: none !important;
}

.form-button {
    background-color: #2a4053;
    color: #fff;
}

.contact-info {
    font-weight: 300;
}

#conquest-link {
    text-decoration: none;
    /* color: #181f6a; */
}

#conquest-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 1500px) {
    .hero {
        height: 450px;
    }
  }

@media only screen and (max-width: 1000px) {
    .hero {
        height: 300px;
    }
  }
  
@media only screen and (max-width: 767px) {
    .hero {
        height: 200px;
    }
    #intro-text {
        font-size: 20px !important;
    }
    .desktop-text {
        display: none !important;
    }
    .mobile-text {
        display: block !important;
    }
  }

@media only screen and (max-width: 500px) {
    .hero {
        height: 150px;
    }
  }