.hero {
    background-image: url(./images/cmc-bg.jpg);
    height: 600px;
    background-size: cover;
    background-position: center;
}

.info-tiles-container {
    background-color: #1B2935;
    color: rgb(226, 226, 226);
}

.tile-img {
    height: 350px;
}

@media only screen and (max-width: 1500px) {
    .hero {
        height: 450px;
    }
  }

@media only screen and (max-width: 1000px) {
    .hero {
        height: 300px;
    }
  }
  
@media only screen and (max-width: 700px) {
    .hero {
        height: 200px;
    }
  }

@media only screen and (max-width: 500px) {
    .hero {
        height: 150px;
    }
  }